@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url("./general/_reset.scss");
@import url("./general/_body.scss");


h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 3vh;
}